<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.test.web.Mst.dao.Mst05Dao">
  	<select id="selectMst05" parameterType="Mst05Bean" 
  								resultType="Mst05Bean">
  		SELECT * FROM mst050_ljh
  		WHERE sok_cd = #{sok_cd}
  	</select>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  </mapper>