<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script>
        var myApp = angular.module('myApp', []);
    
        myApp.controller('myController', function($scope) {
            $scope.mailAddress = 'mrkim9427@naver.com';
            
            $scope.showConsole = function(){
                console.log($scope.mailAddress);
            }
        });
    </script>
</head>
<body>

    <!-- 양방향 바인딩 (인풋창에 텍스트 입력에 따라 출력값도 바뀜) -->
    <div ng-app="myApp" ng-controller="myController">
        <input type="text" ng-model="mailAddress">
        <span>당신의 메일주소는 {{mailAddress}} 입니다.</span>
        <button ng-click="showConsole();">콘솔확인</button>
    </div>

</body>
</html>